//COLORS
$color-primary: #ff897b;
$color-secondary: #FFF3E4;
$color-grey: #747474;
$color-dark: #333;
$trashColor1: #ff897b;
$trashColor2: #535c68;
$trashColor3: #747474;
$transition: all 0.4s ease;

//FONTS
$font-bold:'Gilroy-Bold',
sans-serif;

$font-semibold:'Gilroy-Medium',
sans-serif;

$font-regular:'Gilroy-Regular',
sans-serif;